body * {
    box-sizing: border-box;
}

body {
    background-color: #0f172a;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    position: relative;
}

.sample-card {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 1.5em;
}

.bg-color-1 {
    background-color: #eb2f06;
}

.bg-color-2 {
    background-color: #fa983a;
}

.bg-color-3 {
    background-color: #079992;
}

.bg-color-4 {
    background-color: #1e3799;
}

.card-image {
    width: auto;
    height: 500px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
}
